<div class="container">
  <p>
    Ce projet vise à développer une application web interactive dédiée à la
    gestion et la consultation de listes de lecture musicales. Conçue avec
    Angular pour l'interface utilisateur et une API en PHP pour la gestion des
    données, elle permet aux utilisateurs d'explorer des playlists, d'afficher
    des chansons populaires et d'appliquer des filtres thématiques.
    L'application offre une navigation fluide avec un affichage dynamique des
    listes et des chansons sélectionnées. Une section d'administration,
    intégrant un tableau interactif, permet d'ajouter, modifier et supprimer des
    listes de lecture de manière ergonomique. L'interface a été pensée pour
    optimiser la réutilisation des composants et garantir une expérience
    utilisateur intuitive. De plus, des fonctionnalités comme la représentation
    visuelle des statistiques (nombre de lectures, durée des morceaux) et
    l'utilisation de directives Angular améliorent l'interactivité de
    l'application. Ce projet s'inscrit dans une approche modulaire et évolutive,
    facilitant son maintien et ses futures améliorations.
  </p>
</div>
