 .example-container {
  height: 100%;
  width: 100%;
  margin: 10px;
}

.mat-sidenav-container {
  @apply bg-base-100 h-full overflow-hidden;
}

.mat-sidenav {
  @apply h-full bg-primary p-2 rounded-r-lg;
}

.mat-sidenav.sidenav-open {
  @apply w-[24%];
}

.mat-sidenav-content {
  @apply relative h-full pl-5 text-gray-100 rounded-l-lg overflow-hidden;
}

.mat-sidenav-content.sidenav-open {
  @apply ml-[25%];
}

.mat-sidenav-content {
  overflow: auto;
}



